<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="seller">
      <h2 data-cy="sellerDetailsHeading"><span jhiTranslate="myApp.seller.detail.title">Seller</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ seller.id }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.seller.iD">I D</span></dt>
        <dd>
          <span>{{ seller.iD }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.seller.name">Name</span></dt>
        <dd>
          <span>{{ seller.name }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.seller.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ seller.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.seller.location">Location</span></dt>
        <dd>
          <div *ngIf="seller.location">
            <a [routerLink]="['/location', seller.location.id, 'view']">{{ seller.location.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/seller', seller.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
