<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-lap-top-heading" data-cy="LapTopCreateUpdateHeading" jhiTranslate="myApp.lapTop.home.createOrEditLabel">
        Create or edit a Lap Top
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.lapTop.code" for="field_code">Code</label>
          <input type="number" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.lapTop.company" for="field_company">Company</label>
          <input type="text" class="form-control" name="company" id="field_company" data-cy="company" formControlName="company" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.lapTop.model" for="field_model">Model</label>
          <input type="text" class="form-control" name="model" id="field_model" data-cy="model" formControlName="model" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.lapTop.datepublished" for="field_datepublished">Datepublished</label>
          <input
            type="text"
            class="form-control"
            name="datepublished"
            id="field_datepublished"
            data-cy="datepublished"
            formControlName="datepublished"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.lapTop.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.lapTop.heigth" for="field_heigth">Heigth</label>
          <input type="number" class="form-control" name="heigth" id="field_heigth" data-cy="heigth" formControlName="heigth" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.lapTop.width" for="field_width">Width</label>
          <input type="number" class="form-control" name="width" id="field_width" data-cy="width" formControlName="width" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.lapTop.battery" for="field_battery">Battery</label>
          <input type="text" class="form-control" name="battery" id="field_battery" data-cy="battery" formControlName="battery" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.lapTop.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.lapTop.seller" for="field_seller">Seller</label>
          <select
            class="form-control"
            id="field_seller"
            data-cy="seller"
            name="seller"
            formControlName="seller"
            [compareWith]="compareSeller"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="sellerOption" *ngFor="let sellerOption of sellersSharedCollection">{{ sellerOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.lapTop.customer" for="field_customer">Customer</label>
          <select
            class="form-control"
            id="field_customer"
            data-cy="customer"
            name="customer"
            formControlName="customer"
            [compareWith]="compareCustomer"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="customerOption" *ngFor="let customerOption of customersSharedCollection">{{ customerOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
